extends ../main.pug

block content
    div
        p #{card.bookName}
        p #{card.year}
        p #{card.author}
        p #{card.publisher}
        p #{card.bookDescription}
        p #{book.content}