extends ../main.pug

block content
    div(class="container")
        div(class="row")
            div(class="col-lg-11")
                h1(class="mt-4") #{book.name}
                p(class="lead") by #{book.author}
                hr
                p in #{book.year} #{book.publisher}
                hr
                p(class="lead") #{book.description}
                hr
                p added by #{book.owner} on #{book.date}
                hr
                p(class="mt-4") #{book.content}